*{
	margin: 0;
}

h1{
	color: blue;
	margin: 2%;
}

.oculto{
	visibility: hidden;
}

input, .resultado{
	margin-right: 2%;
}

.time{
	font-size: 2em;
}

.texto-result{
	color: red;
}

h1, .time, .texto-result, .centrada{
	text-align:center;
}

select, .button-rst{
	margin-left: 2%;
}

select{
	float:left;
	margin-right: 5%;
}

ol{
	float: left;
	width: 60%;
}

.resultado div, ol, li{
	display:inline-block;
}

.resultado div{
	margin-right: 10px;
}

.mensaje-falla{
	float:left;
	margin: 5% 10%;
	background-color: red;
	color: white;
	font-size: 2em;
}

.clear{
	clear:both;
}

.tamanioImagen{
	height: 150px;
}