
h1{
	color: blue;
	margin: 2%;
}

.oculto{
	visibility: hidden;
}

input, .resultado{
	margin-right: 2%;
}

.tiempo{
	font-size: 2em;
}

tfoot{
	color: red;
}

h1, .tiempo, .texto-result, .centrada{
	text-align:center;
}

select, .button-reset{
	margin-left: 2%;
}

select{
	float:left;
	margin-right: 5%;
}

ol{
	float: left;
	width: 60%;
}

.resultado div, ol, li{
	display:inline-block;
}

.resultado div{
	margin-right: 10px;
}


.limpiar{
	clear:both;
}

.tamanioImagen{
	height: 150px;
}

tbody{
	color: black;
}